h3{
    color: rgb(98, 0, 255);

}
h1{
    background-color: brown;
}
h2{
    color: aqua;
}
h4{
    color: rebeccapurple;
}
p{
    color: chocolate;
    font-size: 20px;
    font-family:monospace;

}
